<div class="case">
	<div class="responsive-video">  
			<iframe src="//www.youtube.com/embed/jDxGAddfQnA" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="news-content">
		<h3 class="news-title">Lorem ipsum dolor sit amet consectetur.</h3>
		<p class="news-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut repudiandae ullam nulla!</p>
    </div>
</div>