<div class="newsletter">
    <h2 class="heading-h2 newsletter-heading">Newsletter</h2>

    <div class="wpcf7" id="wpcf7-f7-o1" lang="pt-BR" dir="ltr">
        <div class="screen-reader-response" role="alert">Ocorreram erros de validação. Por favor confira os dados e envie novamente.<ul><li>Please fill in the required field.</li></ul></div>
        <form name="" action="{{ site.url }}/#wpcf7-f7-o1" method="post" class="wpcf7-form newsletter-form" novalidate="novalidate">
            <div style="display: none;">
                <input type="hidden" name="_wpcf7" value="7">
                <input type="hidden" name="_wpcf7_version" value="4.1">
                <input type="hidden" name="_wpcf7_locale" value="pt_BR">
                <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f7-o1">
                <input type="hidden" name="_wpnonce" value="7bb1c8d68c">
            </div>
        <span class="wpcf7-form-control-wrap your-email">
            <input type="email" name="your-email" value="" size="40" placeholder="Coloque seu email aqui" class="form-control input-form wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false">
        </span>

            <button type="submit" class="wpcf7-form-control wpcf7-submit pull-right btn-main">
                Assinar
			<span class="circle-arrow-box">
				<span class="circle-arrow-wrap">
					<span class="circle-arrow first">›</span>
					<span class="circle-arrow">›</span>
				</span>
			</span>
            </button>

            <img class="ajax-loader" src="{{ site.url }}/wp-content/plugins/contact-form-7/images/ajax-loader.gif" alt="Enviando ..." style="visibility: hidden;"><div class="wpcf7-response-output wpcf7-display-none"></div>
        </form>
    </div>


</div>
