<form method="get" action="{{ site.url }}">
    <input type="search" class="input-form" placeholder="PESQUISA" name="s">
    <button type="submit" class="btn-main">
  		<span class="circle-arrow-box">
  			<span class="circle-arrow-wrap">
  				<span class="circle-arrow first">›</span>
  				<span class="circle-arrow">›</span>
  			</span>
  		</span>
    </button>
</form>