<div id="carousel-lightbox" class="carousel carousel-lightbox slide" data-ride="carousel">

  <!-- Wrapper for slides -->
  <form action="#">

    <div class="carousel-inner carousel-inner-lightbox">
      <div class="item active">
        <input type="text" class="form-control input-form" placeholder="Coloque seu nome aqui">
        <a href="#carousel-lightbox" class="btn-main btn-large" role="button" data-slide="next">
          Ok
          <span class="circle-arrow-box">
            <span class="circle-arrow-wrap">
              <span class="circle-arrow first">›</span>
              <span class="circle-arrow">›</span>
            </span>
          </span>
        </a>
      </div>
      
      <div class="item">
        <input type="text" class="form-control input-form" placeholder="Coloque seu email aqui">
        <a href="#carousel-lightbox" class="btn-main btn-large" role="button" data-slide="next">
          Ok
          <span class="circle-arrow-box">
            <span class="circle-arrow-wrap">
              <span class="circle-arrow first">›</span>
              <span class="circle-arrow">›</span>
            </span>
          </span>
        </a>
      </div>

      <div class="item">
        <textarea cols="30" rows="8" class="form-control input-form" placeholder="Coloque sua mensagem aqui"></textarea>
        <div class="carousel-checkbox">
          <label>
            <input type="checkbox"> Assinar newsletter
          </label>
        </div>
        <a href="#carousel-lightbox" class="btn-main">
          Enviar
          <span class="circle-arrow-box">
            <span class="circle-arrow-wrap">
              <span class="circle-arrow first">›</span>
              <span class="circle-arrow">›</span>
            </span>
          </span>
        </a>
      </div>
    </div><!-- END CAROUSEL-INNER-->

  </form>

   <!-- Indicators -->
  <ol class="carousel-indicators carousel-indicators-lightbox large">
    <li class="active"></li>
    <li></li>
    <li></li>
  </ol>

</div><!-- END CAROUSEL -->