<section id="comment" class="comment">
	<div class="container">
		<h3 class="heading-h2">Comente:</h3>
		<form action="#">
			<input type="text" class="input-form form-control" placeholder="COLOQUE SEU NOME AQUI">

			<textarea class="input-form form-control" cols="30" rows="7" placeholder="COLOQUE SUA MENSAGEM AQUI"></textarea>

			<div class="carousel-checkbox">
	          <label>
	            <input type="checkbox"> Assinar newsletter
	          </label>
	        </div>

	        <button type="submit" class="btn-main btn-large">
	        	OK
	        	<span class="circle-arrow-box">
		            <span class="circle-arrow-wrap">
		              <span class="circle-arrow first">›</span>
		              <span class="circle-arrow">›</span>
		            </span>
	          	</span>
	        </button>
		</form>
	</div>
</section>