{% if landings %}
    <section class="extras">
        <div class="container">
            <h1 class="heading-h1">O que mais fazemos</h1>

            {% for landing in landings %}
                <a href="{{ landing.link }}" title="{{ landing.title }}">
                <div class="extras-content" style="background-image:url({{ landing.thumbnail.src|resize(954, 360) }})">
                    <div class="extras-content-box">
                        <p class="title">{{ landing.title }}</p>
                        <span class="news-link">
                            saiba mais >
                        </span>
                    </div>
                </div>
                </a>
            {% endfor %}

        </div>
    </section>
{% endif %}