<section class="extras">
	<div class="container">
		<h1 class="heading-h1">O que mais fazemos</h1>

		<div class="extras-content bg-public-management">
			<div class="extras-content-box">
				<p class="title">Atuação gestão pública</p>
				<a href="#" class="news-link">
					saiba mais >
				</a>
			</div>
		</div>

		<div class="extras-content bg-corporate">
			<div class="extras-content-box">
				<p class="title">Atuação gestão pública</p>
				<a href="#" class="news-link">
					saiba mais >
				</a>
			</div>
		</div>

		<div class="extras-content bg-third-sector">
			<div class="extras-content-box">
				<p class="title">Atuação gestão pública</p>
				<a href="#" class="news-link">
					saiba mais >
				</a>
			</div>
		</div>
	</div>
</section>