<div class="hero-wrap">	
	<div class="hero-case hero-bg">
		<div class="container">
			<h1 class="hero-heading">
				Case Título <br>
				10-70 caracteres
			</h1>
			<div class="hero-intro responsive-video">
				<iframe src="//www.youtube.com/embed/jjRiPRnFB98" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
	</div>
</div>