<div class="hero-coffee-who-we-are hero-bg no-mt">
	<div class="container">
		<h3 class="hero-heading">Quem somos</h3>
		<p class="text">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, molestias. 
			Numquam voluptatem dicta eaque quaerat dolor cumque ratione beatae ipsum odio saepe. Ducimus, 
			animi aliquid tenetur ullam quibusdam molestiae accusamus.
		</p>
	</div>
</div>