<div class="hero-landing-courses hero-bg relative">
	<div class="container more-details-container">
		<div class="more-details-box">
			<p class="light-heading">Receba mais detalhes</p>

			<a href="#" class="btn-main btn-block" data-toggle="modal" data-target="#modal-course-details">Quero mais detalhes sobre o curso
				<span class="circle-arrow-box pull-right">
					<span class="circle-arrow-wrap">
						<span class="circle-arrow first">›</span>
						<span class="circle-arrow">›</span>
					</span>
				</span>
			</a>

			<a href="#" class="btn-main btn-block" data-toggle="modal" data-target="#modal-signup">Quero me inscrever agora
				<span class="circle-arrow-box pull-right">
					<span class="circle-arrow-wrap">
						<span class="circle-arrow first">›</span>
						<span class="circle-arrow">›</span>
					</span>
				</span>
			</a>
		</div>
	</div>
</div>