<div>	
	<div class="hero-landing-courses hero-bg">
		<div class="container">
			<div class="date">
				<span class="date-number">08</span>
				<span class="date-month">dezembro</span>
			</div>
			<h1 class="hero-title hero-landing-courses-title">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, aspernatur 
				voluptatem!
			</h1>
		</div>
	</div>
</div>