<div class="hero-bg hero-map">
    <div class="container">
        <div class="map-box">
            <div class="date-box">
                <h3 class="title">Quando e onde?</h3>
                <div class="date">
                    <span class="date-number inverse">08</span>
                    <span class="date-month">dezembro</span>
                </div>
                <p class="text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem ullam 
                    iure odio doloribus minus, voluptas magni sequi dolorum mollitia optio.
                </p>
            </div>

        </div>
    </div>
</div>