<div>	
	<div class="hero-open-news hero-bg" style="background-image: url({{ post.thumbnail.src|resize(1900, 568, 'center') }});">
		<div class="container">
			<h1 class="hero-title hero-landing-courses-title">
				{{ post.title }}
			</h1>	
		</div>
	</div>
</div>