<div class="hero-coffee hero-bg">
	<div class="container">
		<div class="hero-coffee-wrap" data-toggle="modal" data-target="#modal-contact">
			<div href="#" class="hero-coffee-inner">
				Vamos tomar um café?
						<span class="circle-arrow coffee">›</span>
			</div>
		</div>
	</div>
</div>