<div class="hero-wrap">	
	<div class="hero-bg hero-landing">
		<div class="container">
			<h1 class="hero-title">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, aspernatur 
				voluptatem!
			</h1>
			<div class="hero-intro responsive-video">
				<iframe src="//www.youtube.com/embed/jjRiPRnFB98" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
	</div>
</div>