<section class="infos-po">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<a href="services-list.php" class="infos-po-block-wrap">
					<div class="infos-po-block">
						<h2 class="infos-po-heading">O que fazemos</h2>
						<span class="circle-arrow">›</span>
						<p class="infos-po-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, saepe.</p>
					</div>
				</a>
			</div>
			<div class="col-md-6">
				<a href="who-we-are.php" class="infos-po-block-wrap">
					<div class="infos-po-block">
						<h2 class="infos-po-heading">Quem somos</h2>
						<span class="circle-arrow">›</span>
						<p class="infos-po-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, saepe.</p>
					</div>
				</a>
			</div>
		</div>
	</div>
</section>