<section class="case-content">
	<div class="container">
		<div class="row relative">
			<div class="col-md-8">
				<h2 class="title-small">
					Nullam a lorem efficitur, aliquam tortor at, condimentum erat. Curabitur feugiat at orci at accumsan. 
					Donec pulvinar viverra velit, in amet. 100 - 170 caracteres
				</h2>

				<img src="http://placehold.it/800x600" alt="" class="img-responsive">

				<p class="text-main">
					Curabitur nec vulputate metus. Integer non vulputate enim, sed iaculis nulla. Curabitur a auctor lectus, eget vehicula lorem. Nullam malesuada posuere facilisis. 
					Aliquam pulvinar metus et ultrices molestie. Pellentesque blandit accumsan justo vitae molestie. 
					Phasellus varius rhoncus enim, a interdum sem ultrices at. Curabitur quis nibh augue. 
					Curabitur sem magna, commodo a neque non, ultrices ullamcorper ante. Aenean scelerisque mi nulla, 
					non maximus mauris consequat vehicula. Sed vehicula congue augue, ut luctus tellus auctor sit amet.
					Nunc ac felis vulputate, ullamcorper orci at, interdum libero. 
					Etiam risus nulla, faucibus in sagittis eget, finibus eu mi.
				</p>

				<p class="text-main">
					Vivamus accumsan fringilla magna, et facilisis leo dapibus ut. Integer vitae libero euismod, 
					interdum neque laoreet, bibendum diam. Vestibulum eros tortor, pellentesque vitae mattis sit amet, 
					ultricies non eros. Duis tristique commodo neque sit amet tincidunt. Ut tempor pharetra dui vitae iaculis. 
					Nullam sit amet ipsum ut libero ullamcorper lacinia in vel diam. Aenean sollicitudin convallis justo eget 
					sollicitudin. 
					1000 - 1100 caracteres
				</p>
			</div><!-- END COL -->

			<div class="col-md-4 col-bottom-right">
				<img src="http://placehold.it/600x600" alt="" class="img-responsive">
				<img src="http://placehold.it/600x600" alt="" class="img-responsive">
			</div><!-- END COL -->
			
		</div><!-- END ROW -->
	</div><!-- END CONTAINER -->
</section>