<section class="case-content">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<h2 class="title-small">
					Nullam a lorem efficitur, aliquam tortor at, condimentum erat. Curabitur feugiat at orci at accumsan. 
					Donec pulvinar viverra velit, in amet. 100 - 170 caracteres
				</h2>

				<p class="text-main">
					Curabitur nec vulputate metus. Integer non vulputate enim, sed iaculis nulla. Curabitur a auctor lectus, eget vehicula lorem. Nullam malesuada posuere facilisis. 
					Aliquam pulvinar metus et ultrices molestie. Pellentesque blandit accumsan justo vitae molestie. 
					Phasellus varius rhoncus enim, a interdum sem ultrices at. Curabitur quis nibh augue. 
					Curabitur sem magna, commodo a neque non, ultrices ullamcorper ante. Aenean scelerisque mi nulla, 
					non maximus mauris consequat vehicula. Sed vehicula congue augue, ut luctus tellus auctor sit amet.
					Nunc ac felis vulputate, ullamcorper orci at, interdum libero. 
					Etiam risus nulla, faucibus in sagittis eget, finibus eu mi.
				</p>
			</div><!-- END COL -->

			<div class="col-md-4">
				<?php include "components/social-list-hero.php"; ?>
			</div><!-- END COL -->
		</div><!-- END ROW -->
		
		<div class="courses-bg"></div>

		<h2 class="light-heading">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, veniam.
		</h2>
		
		<div class="row">
			<div class="col-md-8">
				<p class="text-main">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio maiores tempore a voluptates 
					velit quas molestias aliquid harum animi incidunt natus, sed debitis minus quisquam non, 
					quod. Consectetur alias, modi!
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio maiores tempore a voluptates 
					velit quas molestias aliquid harum animi incidunt natus, sed debitis minus quisquam non, 
					quod. Consectetur alias, modi!
				</p>

				<p class="text-main">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus aliquam maiores 
					dolorem neque itaque, quis magnam repudiandae nulla fuga beatae!
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus aliquam maiores 
					dolorem neque itaque, quis magnam repudiandae nulla fuga beatae!
				</p>
			</div><!-- END COL-->
		</div><!-- END ROW-->

	</div><!-- END CONTAINER -->
</section>