<section class="case-content">
	<div class="container">
		<div class="row relative">
			<div class="col-md-8">
				<h2 class="title-small">
					{{ post.subtitle }}
				</h2>

				<div class="text-main">
					{{ post.content }}
				</div>
			</div><!-- END COL -->

			<div class="col-md-4 col-bottom-right">
                {% if post.get_field('left_images') %}
                    {% for images in post.get_field('left_images') %}
                        <img src="{{ images.url|resize(298) }}" alt="{{ images.alt }}" class="img-responsive">
                    {% endfor %}
                {% endif %}
			</div><!-- END COL -->
			
		</div><!-- END ROW -->
	</div><!-- END CONTAINER -->
</section>