<div class="menu menu-fixed">
	<div class="container">
        <a href="{{ site.url }}" title="Presença Online - {{ function('bloginfo', 'description') }}">
		<img src="{{ bloginfo('template_url') }}/assets/imgs/po-mini-logo.png" alt="Presença Online">
        </a>
		<nav class="main-nav">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-fixed-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            
            <div class="collapse navbar-collapse" id="menu-fixed-collapse">
                {% include 'modules/menu/menu_primary.twig' %}
            </div>
        </nav>
    </div>
</div>