<div class="row">
	<div class="col-md-4">
		<div class="news-info">
			<span class="news-tag">tag da notícia</span>
			<span class="news-date">13 mar 2014</span>
		</div>
		<div class="relative">
			<div class="overlay-img">
				<div class="overlay-content">
					<span class="plus-sm">+</span>
				</div>
			</div>
			<img src="http://placehold.it/400x180" alt="imagem da notícia" class="img-responsive">
		</div>
		<div class="news-content">
			<h3 class="news-title">Lorem ipsum dolor sit amet consectetur.</h3>
			<p class="news-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut repudiandae ullam nulla!</p>
			<a href="#" class="news-link">Saiba mais > </a>
		</div>
	</div><!-- END COL -->

	<div class="col-md-4">
		<div class="news-info">
			<span class="news-tag">tag da notícia</span>
			<span class="news-date">13 mar 2014</span>
		</div>
		<div class="relative">
			<div class="overlay-img">
				<div class="overlay-content">
					<span class="plus-sm">+</span>
				</div>
			</div>
			<img src="http://placehold.it/400x180" alt="imagem da notícia" class="img-responsive">
		</div>
		<div class="news-content">
			<h3 class="news-title">Lorem ipsum dolor sit amet consectetur.</h3>
			<p class="news-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut repudiandae ullam nulla!</p>
			<a href="#" class="news-link">Saiba mais > </a>
		</div>
	</div><!-- END COL -->

	<div class="col-md-4">
		<?php include "components/search.php"; ?>
	</div><!-- END COL -->
</div><!-- END ROW -->