{% if services %}
<section id="services">
	<h1 class="heading-h1">Serviços</h1>

    {% for key, service in services %}

        {% if key % 2==0 %}
            {% include 'loop/services-mini-left.twig' %}
        {% else %}
            {% include 'loop/services-mini-right.twig' %}
        {% endif %}

    {% endfor %}

</section>
{% endif %}