<div class="hero-coffee-wrap" data-toggle="modal" data-target="#modal-signup">
	<div href="#" class="hero-coffee-inner">
		Inscreva-se agora!
				<span class="circle-arrow coffee">›</span>
	</div>
</div><!-- END HERO-COFFEE-WRAP -->