{% if sliders %}
<div id="carousel-home" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators large">
    <li data-target="#carousel-home" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-home" data-slide-to="1"></li>
    <li data-target="#carousel-home" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
      {% for key, slider in sliders %}
          <div class="item {{ key == 0 ? 'active' : '' }}">
              <h2 class="slider-heading">{{ slider.title }}</h2>
              <img src="{{ slider.thumbnail.src|resize(1900, 624, 'center') }}" alt="{{ slider.title }}" class="img-responsive">
          </div>
      {% endfor %}
  </div>

  <!-- Controls -->
  <div class="container carousel-container">
    <a class="left carousel-control" href="#carousel-home" role="button" data-slide="prev">‹</a>
    <a class="right carousel-control" href="#carousel-home" role="button" data-slide="next">›</a>
  </div>
</div><!-- END CAROUSEL -->
{% endif %}