<!-- Modal -->
<div class="modal fade" id="modal-course-details" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="container">
      <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal"><span class="close-x" aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4 class="modal-title" id="myModalLabel">Receba mais informações sobre o curso:</h4>
        <div class="modal-body">
          <form action="#">
            <input type="email" class="form-control input-form margin" placeholder="EMAIL">
            <input type="text" class="form-control input-form margin" placeholder="NOME">
            <button type="submit" class="btn-main pull-right">
              Receber mais detalhes
              <span class="circle-arrow-box">
                <span class="circle-arrow-wrap">
                  <span class="circle-arrow first">›</span>
                  <span class="circle-arrow">›</span>
                </span>
              </span>
            </button>
          </form>
        </div><!-- END MODAL-BODY -->
      </div><!-- END MODAL-CONTENT -->
    </div><!-- END CONTAINER -->
  </div><!-- END MODAL-DIALOG -->
</div><!-- END MODAL -->