<div id="carousel-services" class="carousel slide" data-ride="carousel">
  <h1 class="heading-h1">Serviços</h1>
  <!-- Indicators -->
  <ol class="carousel-indicators small">
    <li data-target="#carousel-services" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-services" data-slide-to="1"></li>
    <li data-target="#carousel-services" data-slide-to="2"></li>
    <li data-target="#carousel-services" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <div class="container service">
        
        <div class="service-wrap left">
          <h2 class="heading-h2">Consultoria</h2>
          <p class="service-p">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur rem quaerat et 
            voluptates itaque nobis hic dignissimos ipsa ipsam distinctio odio illo officia dolorem 
            sint doloribus nisi veritatis vitae odit ab, laborum, magni eos ea velit.
          </p>
          <div class="bg-img bg-img-consulting">
            <div class="overlay">
              <span class="plus">+</span>
            </div>
          </div>
          <a href="#" class="service-link btn-main left">
            Saiba mais
            <span class="circle-arrow-box">
              <span class="circle-arrow-wrap">
                <span class="circle-arrow first">›</span>
                <span class="circle-arrow">›</span>
              </span>
            </span>
          </a>
          <hr class="left">
        </div>
      </div><!-- END SERVICE -->
    </div><!-- END ITEM -->

    <div class="item">
      <div class="container service">
        
        <div class="service-wrap right">
          <h2 class="heading-h2 right">Estratégia</h2>
          <p class="service-p right">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur rem quaerat et 
            voluptates itaque nobis hic dignissimos ipsa ipsam distinctio odio illo officia dolorem 
            sint doloribus nisi veritatis vitae odit ab, laborum, magni eos ea velit.
          </p>
          <div class="bg-img bg-img-strategy">
            <div class="overlay">
              <span class="plus">+</span>
            </div>
          </div>
          <a href="#" class="service-link btn-main right">
            Saiba mais
            <span class="circle-arrow-box">
              <span class="circle-arrow-wrap">
                <span class="circle-arrow first">›</span>
                <span class="circle-arrow">›</span>
              </span>
            </span>
          </a>
          <hr class="right">
        </div>
      </div><!-- END SERVICE -->
    </div><!-- END ITEM -->

    <div class="item">
      <div class="container service">
        
        <div class="bg-height relative">
          <div class="service-wrap left bottom">
            <h2 class="heading-h2">Operação</h2>
            <p class="service-p">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur rem quaerat et 
              voluptates itaque nobis hic dignissimos ipsa ipsam distinctio odio illo officia dolorem 
              sint doloribus nisi veritatis vitae odit ab, laborum, magni eos ea velit.
            </p>
            <div class="bg-img bg-img-operation">
              <div class="overlay">
                <span class="plus">+</span>
              </div>
            </div>
            <a href="#" class="service-link btn-main left">
              Saiba mais
              <span class="circle-arrow-box">
                <span class="circle-arrow-wrap">
                  <span class="circle-arrow first">›</span>
                  <span class="circle-arrow">›</span>
                </span>
              </span>
            </a>
            <hr class="left">
          </div>
        </div>
      </div><!-- END SERVICE -->
    </div><!-- END ITEM -->

    <div class="item">
      <div class="container service">
        
        <div class="bg-height relative">
          <div class="service-wrap right bottom">
            <h2 class="heading-h2 right">Capacitação</h2>
            <p class="service-p right">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur rem quaerat et 
              voluptates itaque nobis hic dignissimos ipsa ipsam distinctio odio illo officia dolorem 
              sint doloribus nisi veritatis vitae odit ab, laborum, magni eos ea velit.
            </p>
            <div class="bg-img bg-img-capacity">
              <div class="overlay">
                <span class="plus">+</span>
              </div>
            </div>
            <a href="#" class="service-link btn-main right">
              Saiba mais
              <span class="circle-arrow-box">
                <span class="circle-arrow-wrap">
                  <span class="circle-arrow first">›</span>
                  <span class="circle-arrow">›</span>
                </span>
              </span>
            </a>
            <hr class="right">
          </div>
        </div>
      </div><!-- END SERVICE -->
    </div><!-- END ITEM -->

  </div>

  <!-- Controls -->
  <div class="container carousel-container">
    <a class="left carousel-control" href="#carousel-services" role="button" data-slide="prev">‹</a>
    <a class="right carousel-control" href="#carousel-services" role="button" data-slide="next">›</a>
  </div>
</div><!-- END CAROUSEL -->