{% if clients %}
<div id="carousel-landing" class="carousel no-mb carousel-landing slide" data-ride="carousel">

  {% if clients|length >4 %}
  <ol class="carousel-indicators large">
    {% for i in 1..(clients|length/4)|ceil %}
        <li data-target="#carousel-landing" data-slide-to="{{ i-1 }}" class="{{ i==1?"active":"" }}"></li>
    {% endfor %}
  </ol>
  {% endif %}

  <div class="carousel-bg">
    <div class="container">
      <h2 class="carousel-title">Clientes</h2>
      <p class="carousel-description">
          {{ post.clients_label }}
      </p>
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
          {% include 'loop/carrosel-clients.twig' %}
      </div><!-- END CAROUSEL-INNER -->
    </div><!-- END CONTAINER -->
  </div><!-- END CAROUSEL-BG -->

    {% if clients|length >4 %}
    <a class="left carousel-control" href="#carousel-landing" role="button" data-slide="prev">‹</a>
    <a class="right carousel-control" href="#carousel-landing" role="button" data-slide="next">›</a>
    {% endif %}
</div><!-- END CAROUSEL -->
{% endif %}