<!-- Modal -->
<div class="modal fade" id="modal-contact" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="container">
      <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal"><span class="close-x" aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4 class="modal-title" id="myModalLabel">Fale</h4>
        <div class="modal-body">
            {% include 'form/snippet-lightbox-contact-carousel.twig' %}
        </div>
      </div><!-- END MODAL-CONTENT -->
    </div><!-- END CONTAINER -->
  </div><!-- END MODAL-DIALOG -->
</div><!-- END MODAL -->