<!-- Modal -->
<div class="modal fade" id="modal-signup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  
  <div class="modal-dialog">
    
    <div class="container">
      
      <div class="modal-content">
        
        <button type="button" class="close" data-dismiss="modal"><span class="close-x" aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title short" id="myModalLabel">Faça login mais rápido com:</h4>
        <div class="row">
          <div class="col-md-6">
            
            <div class="text-center">
              <a class="btn btn-social btn-facebook">
                <i class="fa fa-facebook"></i> Sign in with Facebook
              </a>
            </div>
            <div class="text-center">
              <a class="btn btn-social btn-google-plus">
                <i class="fa fa-google-plus"></i> Sign in with Google
              </a>
            </div>
            <div class="text-center">
              <a class="btn btn-social btn-twitter">
                <i class="fa fa-twitter"></i> Sign in with Twitter
              </a>
            </div>
            <div class="text-center">
              <a class="btn btn-social btn-linkedin">
                <i class="fa fa-linkedin"></i> Sign in with LinkedIn
              </a>
            </div>

          </div><!-- END COL -->
          <div class="col-md-6">
            <div class="modal-body">
              <form action="#">
                <input type="email" class="form-control input-form margin" placeholder="EMAIL">
                <input type="text" class="form-control input-form margin" placeholder="NOME">
                <div class="row">
                  <div class="col-md-6">
                    <div class="carousel-checkbox signup-checkbox">
                      <label>
                        <input type="checkbox"> Assinar newsletter
                      </label>
                    </div>
                  </div><!-- END COL-->
                  <div class="col-md-6">
                    <button type="submit" class="btn-main btn-login-lightbox pull-right">
                      Login
                      <span class="circle-arrow-box">
                        <span class="circle-arrow-wrap">
                          <span class="circle-arrow first">›</span>
                          <span class="circle-arrow">›</span>
                        </span>
                      </span>
                    </button>

                    <a href="#" class="signup-link">cadastrar</a>
                  </div><!-- END COL -->
                </div><!-- END ROW -->
              </form>

            </div><!-- END MODAL-BODY -->

          </div><!-- END COL -->

        </div><!-- END ROW -->

      </div><!-- END MODAL-CONTENT -->

    </div><!-- END CONTAINER -->

  </div><!-- END MODAL-DIALOG -->

</div><!-- END MODAL -->