<ul class="social-list">
    <li><a href="{{ function('get_custom', 'facebook') }}" title="Facebook - Presença Online" target="_blank">
            <i class="fa fa-facebook"></i>
        </a></li>
    <li><a href="{{ function('get_custom', 'twitter') }}" title="Twitter - Presença Online" target="_blank">
            <i class="fa fa-twitter"></i>
        </a></li>
    <li><a href="{{ function('get_custom', 'g_plus') }}" title="G Plus - Presença Online" target="_blank">
            <i class="fa fa-google-plus"></i>
        </a></li>
    <li><a href="{{ function('get_custom', 'linked') }}" title="Linked - Presença Online" target="_blank">
            <i class="fa fa-linkedin"></i>
        </a></li>
</ul>