<ul class="social-list block">

	<li class="facebook-item">
		<a href="#">
			<i class="fa fa-facebook"></i>
		</a>
		214 Curtidas
		<div class="social-block facebook">
			<div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
			<span class="popup-arrow"></span>
		</div>
	</li>

	<li class="twitter-item">
		<a href="#">
			<i class="fa fa-twitter"></i>
		</a>
		22 Tweets
		<div class="social-block twitter">
			<a href="https://twitter.com/share" class="twitter-share-button" data-via="viniciussaran">Tweet</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
			<span class="popup-arrow"></span>
		</div>
	</li>

	<li class="google-item">
		<a href="#">
			<i class="fa fa-google-plus"></i>
		</a>
		53 Compartilhamentos
		<div class="social-block google">
			<div class="g-plus" data-action="share" data-annotation="bubble"></div>
			<span class="popup-arrow"></span>
		</div>
	</li>

	<li class="linkedin-item">
		<a href="#">
			<i class="fa fa-linkedin"></i>
		</a>
		76 Compartilhamentos
		<div class="social-block linkedin">
			<script src="//platform.linkedin.com/in.js" type="text/javascript">
			  lang: en_US
			</script>
			<script type="IN/Share" data-counter="right"></script>
			<span class="popup-arrow"></span>
		</div>
	</li>

	<li>
		<a href="#">
			C
		</a>
		45 Comentários
	</li>

	<div class="triangle-left"></div>
</ul>