<article class="container who-we-are">
	<div class="row">
		<div class="col-md-6">
			<h3 class="title-small">
				{{ post.subtitle }}
		   	</h3>
		</div>

		<div class="col-md-6">
			<div class="text-main">
				{{ post.content }}
			</div>
		</div>
	</div>
</article>