<article class="container who-we-are">
	<div class="row">
		<div class="col-md-6">
			<h3 class="title-small">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
				Rerum animi nobis voluptates aspernatur, impedit molestiae reiciendis.
				Nisi necessitatibus magnam voluptatem eaque, ut ullam et iure aperiam
				voluptatibus alias ipsa nesciunt dolorem, repellat dolores suscipit 
				doloremque modi incidunt ipsam qui, totam tenetur quis. Et illo, blanditiis
				debitis cupiditate, neque laudantium eligendi.
		   	</h3>
		</div>

		<div class="col-md-6">
			<p class="text-main">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, 
				cupiditate! Neque rerum aliquid rem quae, officia. Repellendus rerum 
				officia facilis maxime, est modi at officiis aperiam! Voluptates vitae 
				doloribus mollitia cupiditate perferendis laboriosam id aliquam molestias 
				possimus inventore, nisi modi quis fuga natus quam officiis delectus nam minus, 
				nihil nobis? A officia quasi nesciunt eum rem, est consequatur distinctio 
				quisquam repudiandae molestiae nisi dolores eius dolore expedita. Expedita, 
				inventore. Quos!
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, 
				cupiditate! Neque rerum aliquid rem quae, officia. Repellendus rerum 
				officia facilis maxime, est modi at officiis aperiam! Voluptates vitae 
				doloribus mollitia cupiditate perferendis laboriosam id aliquam molestias 
				possimus inventore, nisi modi quis fuga natus quam officiis delectus nam minus, 
				nihil nobis? A officia quasi nesciunt eum rem, est consequatur distinctio 
				quisquam repudiandae molestiae nisi dolores eius dolore expedita. Expedita, 
				inventore. Quos!
			</p>
		</div>
	</div>
</article>